body {
    background-color: black;
    color: green;
    font-family: 'Courier New', Courier, monospace;
}

header, footer {
    text-align: center;
    padding: 1rem;
}

nav a {
    color: green;
    margin: 0 15px;
    text-decoration: none;
}

#video-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Hier kannst du weitere Styles hinzufügen */
